@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url('./images/bg-intro-desktop.png') no-repeat center;
  background-color: var(--red);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.container-text,
.container-form {
  flex: 1;
}

h1 {
  color: white;
  font-size: 3.5rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

p {
  color: white;
  font-size: 1.05rem;
  opacity: 90%;
}

h4 {
  background-color: var(--blue);
  color: white;
  text-align: center;
  padding: 1rem 0;
  border-radius: 1rem;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.35);
  margin-bottom: 1.5rem;
}

h4 span {
  font-weight: 400;
  opacity: 0.9;
}

form {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
}

input {
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  margin-bottom: 1.2rem;
  border: 1px solid var(--grayish-blue);
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

input.error {
  border: 1px solid var(--red);
}

input:hover,
input:focus {
  outline: 1.5px solid var(--blue);
}

button {
  display: block;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--green);
  color: white;
  border: none;
  border-radius: 1rem;
  font-family: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

small {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grayish-blue);
  gap: 0.25rem;
}

small span {
  color: var(--red);
  font-weight: 600;
  cursor: pointer;
}
